@import "tailwindcss";

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: auto;
}

/* MUI IconButton fixes */
.MuiIconButton-root {
  -webkit-tap-highlight-color: transparent;
}

.MuiIconButton-root:hover,
.MuiIconButton-root:active,
.MuiIconButton-root:focus,
.MuiIconButton-root.Mui-focusVisible {
  background-color: transparent !important;
}

button:focus {
  outline: none;
}
.MuiCardActionArea-root {
  -webkit-tap-highlight-color: transparent;
}

.MuiCardActionArea-root:focus,
.MuiCardActionArea-root:active,
.MuiCardActionArea-root.Mui-focusVisible {
  background-color: transparent;
}
